{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}
 
{% block body %}
 <div>
     <p>Pistache</p>
     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem voluptatibus animi eligendi? 
        Laboriosam maiores corrupti quae saepe harum nam, aut nostrum, rerum doloremque et aliquam expedita 
        eius, placeat recusandae itaque!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem voluptatibus animi eligendi? 
        Laboriosam maiores corrupti quae saepe harum nam, aut nostrum, rerum doloremque et aliquam expedita 
        eius, placeat recusandae itaque!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem voluptatibus animi eligendi? 
        Laboriosam maiores corrupti quae saepe harum nam, aut nostrum, rerum doloremque et aliquam expedita 
        eius, placeat recusandae itaque!</p>
 </div>

 <div>
    <p>Pistache</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem voluptatibus animi eligendi? 
       Laboriosam maiores corrupti quae saepe harum nam, aut nostrum, rerum doloremque et aliquam expedita 
       eius, placeat recusandae itaque!
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem voluptatibus animi eligendi? 
       Laboriosam maiores corrupti quae saepe harum nam, aut nostrum, rerum doloremque et aliquam expedita 
       eius, placeat recusandae itaque!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem voluptatibus animi eligendi? 
       Laboriosam maiores corrupti quae saepe harum nam, aut nostrum, rerum doloremque et aliquam expedita 
       eius, placeat recusandae itaque!</p>
</div>

<div>
    <p>Pistache</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem voluptatibus animi eligendi? 
       Laboriosam maiores corrupti quae saepe harum nam, aut nostrum, rerum doloremque et aliquam expedita 
       eius, placeat recusandae itaque!
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem voluptatibus animi eligendi? 
       Laboriosam maiores corrupti quae saepe harum nam, aut nostrum, rerum doloremque et aliquam expedita 
       eius, placeat recusandae itaque!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem voluptatibus animi eligendi? 
       Laboriosam maiores corrupti quae saepe harum nam, aut nostrum, rerum doloremque et aliquam expedita 
       eius, placeat recusandae itaque!</p>
</div>
{% endblock %}
