{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}
<div class="container">
  <div class="row">
    <div class="col">
      acceuil
    </div>
    <div class="col">
      article
    </div>
    <div class="col">
      contact
    </div>
    <div class="col">
      apropos
    </div>
  </div>
</div>
{% block body %}

{% endblock %}