{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<p>
    Vous voulez nous contacter ? Nous poser une question ?
    cliquez <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSMVxpFjsznRKDfCJVmmHkhwFsGNrJnwgbVmmSHSSfbljBSpfghxZdBfMrpXlPmQDgLpHTss">ici</a>
</p>

<br>

<div>
    <p>Vous pourrez également nous contacter par téléphone : </p>
    <p><i class="fa-solid fa-phone"></i> 03.22.46.56.28</p>
</div>

<div>
    <p> Vous également venir nous rendre visite à notre agence</p>

    <p><i class="fa-solid fa-location-dot"></i> 20 rue de la boustifaille, 80000, Amiens</p>

    <p><i class="fa-solid fa-calendar-days"></i>
        Lundi: 10:00 - 19:00 <br>
        Mardi: 10:00 - 19:00 <br>
        Mercredi: 10:00 - 19:00 <br>
        Jeudi: 10:00 - 19:00 <br>
        Vendredi: 10:00 - 19:00 <br>
    </p>
</div>


{% endblock %}