{% extends 'admin/admin_base.html.twig' %}

{% block title %}Hello AdminDashboardController!{% endblock %}

{% block body %}

<section class="row d-flex justify-content-center align-items-center min-vh-100">
    <div class="card" style="width: 18rem;">        
        <div class="card-body">
            <h5 class="card-title">Utilisateurs</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">        
        <div class="card-body">
            <h5 class="card-title">Articles</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">        
        <div class="card-body">
            <h5 class="card-title">Catégories</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</section>

{% endblock %}
